body {
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  position: relative;
  height: 100vh;
  width: 100vw;
  /* animation: hover 20s ease-in-out 20s forwards; */
}
.main-container {
  animation: hover 15s ease-in-out 19.5s forwards;
}

.BackGlow {
  opacity: 0;
  position: absolute;
  left: 55px;
  top: -50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: body-glow 0.5s linear 15.5s forwards,
    hover 15s ease-in-out 20s forwards;
}
.armor {
  position: absolute;
  top: 420px;
  left: 585px;
  width: 60%;
  height: 70%;
  opacity: 0;
  animation: body-appear 0.5s linear 10s forwards,
    hover 15s ease-in-out 20s forwards;
}

.Ac {
  opacity: 0;
  position: absolute;
  top: 680px;
  left: 1283px;
  height: 7%;
  width: 7%;
  z-index: 999;
  animation: body-appear 0.5s linear 17s forwards,
    hover 15s ease-in-out 20s forwards;
}
.line {
  opacity: 0;
  position: absolute;
  z-index: 999;
  background-color: rgb(18, 52, 58);
  animation: smash 2s linear 17.2s forwards;
}
.line-1 {
  top: 790px;
  left: 1490px;
  transform: rotate(140deg);
  width: 7px;
  height: 60px;
}
.line-2 {
  top: 790px;
  left: 1400px;
  transform: rotate(0deg);
  width: 7px;
  height: 60px;
}
.line-3 {
  top: 781px;
  left: 1290px;
  transform: rotate(45deg);
  width: 7px;
  height: 60px;
}
.line-4 {
  top: 681px;
  left: 1300px;
  transform: rotate(140deg);
  width: 7px;
  height: 60px;
}
.line-5 {
  top: 630px;
  left: 1360px;
  transform: rotate(-10deg);
  width: 7px;
  height: 60px;
}
.line-6 {
  top: 630px;
  left: 1485px;
  transform: rotate(45deg);
  width: 7px;
  height: 60px;
}
.line-7 {
  top: 670px;
  left: 1488px;
  transform: rotate(90deg);
  width: 7px;
  height: 60px;
}
/* .line-8 {
  top: 790px;
  left: 1488px;
  transform: rotate(140deg);
} */

.cableHigherLeft {
  opacity: 0;
  position: absolute;
  left: -300px;
  top: 100px;
  width: 60%;
  height: 60%;
  z-index: -1;
  animation: body-appear 0.5s linear 10.3s forwards,
    hover 12s ease-in-out 20.5s forwards;
}
.cableHigherRight {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 1500px;
  width: 60%;
  height: 60%;
  z-index: -1;
  animation: body-appear 0.5s linear 10.6s forwards,
    hover 12s ease-in-out 20.5s forwards;
}
.cableLowerLeft {
  opacity: 0;
  position: absolute;
  top: 1150px;
  left: -1130px;
  width: 70%;
  height: 70%;
  z-index: -1;
  animation: body-appear 0.5s linear 10.9s forwards,
    hover 12s ease-in-out 20.5s forwards;
}
.cableLowerRight {
  opacity: 0;
  position: absolute;
  top: 1150px;
  left: 2020px;
  width: 70%;
  height: 70%;
  z-index: -1;
  animation: body-appear 0.5s linear 11.2s forwards,
    hover 12s ease-in-out 20.5s forwards;
}
.glow {
  opacity: 0;
  position: relative;
  left: 45%;
  top: 600px;
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  background-color: rgb(0, 217, 255); /* for the 1px in the center */
  border-radius: 50%;
  box-shadow: 0 0 50px 80px rgb(0, 217, 255);
  animation: rise 15s ease-in-out 1.5s forwards;
  /* z-index: 999; */
}
.container-lower {
  display: flex;
}
.grind {
  opacity: 0;
  position: relative;
  height: 10px;
  width: 10px;

  background-color: aliceblue;

  animation: grindAnimation 0.5s linear 16.5s forwards;
}
video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  /* height: 100vh; */
  /* top: 100; */
  left: 0;
  top: 0;
  animation: backgroundAppear 20s ease-in 16.5s forwards;
}

/* .message {
  position: absolute;
  left: 100px;
  top: 100px;
  color: white;
  font-size: 1000%;
} */

/* --------------------------------------------------------------- */
/* ----------------------- -----LÅDA------------------------------ */
/* --------------------------------------------------------------- */
.box-1 {
  opacity: 0;
  position: relative;
  /* left: 26px; */
  left: 94.7px;
  top: 43px;
  width: 208px;
  height: 150px;
  transform: rotate(156.5deg) skew(43deg);
  background-color: rgb(50, 50, 50);
  opacity: 0;
  animation: top-down 3s linear 12s forwards;
}
.box-2 {
  opacity: 0;
  position: relative;
  top: -4px;
  /* left: -47px; */
  left: 21.8px;
  width: 162px;
  height: 200px;
  transform: skew(30deg) rotate(30deg);
  background-color: rgb(41, 41, 41);

  animation: to-right 3s linear 12s forwards;
}
.box-3 {
  opacity: 0;
  position: relative;
  top: -5px;
  /* left: -21px; */
  left: 47px;
  width: 166px;
  height: 200px;
  transform: skew(-30deg) rotate(-30deg);
  background-color: rgb(70, 70, 70);

  animation: to-left 3s linear 12s forwards;
}

/* .armor {
  width: 400px;
  height: 400px;
  background-color: rgb(46, 31, 31);
} */

@keyframes top-down {
  0% {
    top: -100px;
  }
  30% {
    opacity: 1;
    top: 43px;
  }

  95% {
    top: 43px;
  }

  100% {
    opacity: 1;
    top: 35px;
  }
}
@keyframes to-right {
  0% {
    opacity: 0;
    left: -100px;
  }
  20% {
    opacity: 1;
    left: 22px;
  }
  95% {
    left: 22px;
  }
  100% {
    opacity: 1;
    left: 17px;
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    left: 200px;
  }

  40% {
    opacity: 1;
    left: 47px;
  }
  95% {
    opacity: 1;
    left: 45px;
  }
  100% {
    opacity: 1;
    left: 53px;
  }
}
@keyframes rise {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    top: 600px;
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    top: 240px;
    opacity: 1;
  }
  70% {
  }
  80% {
    box-shadow: 0 0 50px 80px rgb(0, 217, 255);
    background-color: rgb(0, 217, 255);
    opacity: 0.5;
  }

  100% {
    /* background-color: rgb(13, 255, 0);
    box-shadow: 0 0 50px 80px rgb(9, 255, 0); */
    top: 260px;
    opacity: 1;
    left: 45%;
  }
}
@keyframes grindAnimation {
  0% {
    top: 200px;
    left: 0px;
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: scale(3);
  }
  30% {
    transform: scale(1);
  }
  90% {
    top: 200px;
    left: 80px;
    opacity: 1;
  }
  97% {
    opacity: 1;
  }
  100% {
    top: 200px;
    left: 200px;
    opacity: 0;
    transform: rotate(180deg);
  }
}

@keyframes body-appear {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  19.9% {
    transform: scaleX(1) scaleY(1);
  }
  20% {
    opacity: 1;
    transform: scaleX(6.1) scaleY(6.9);
  }
  20.2% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes body-glow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes hover {
  0% {
    margin-top: 0px;
  }
  10% {
    margin-top: 10px;
  }
  20% {
    margin-top: 0px;
  }
  30% {
    margin-top: 15px;
  }
  40% {
    margin-top: 0px;
  }
  50% {
    margin-top: 15px;
  }

  60% {
    margin-top: 0px;
  }
  70% {
    margin-top: 15px;
  }
  80% {
    margin-top: 0px;
  }
  90% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes backgroundAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes smash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
